@keyframes slideInFromRight{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}
.blog-months{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-top: 15px;
    text-align: center;
    color: white;
}
.footer-class-blogs{
    margin-top: 100px;
    height: 175px;
    width: 100%;
    background-color: rgb(0, 132, 255);
    display: inline-block;
}
.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.blog-post{
    margin-top: -700px;
    text-align: center;
    width: 60%;
    padding-left: 150px;
    padding-right: 150px;
    background-color: rgba(0,0,0, .5)
}
.blog-post > h3{
    font-size: 25px;
    color: white;
}
.quote{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    font-style: italic;
    font-family:'Montserrat', sans-serif;
    color: white;
}
.blog-post > p{
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.blog-post > h5{
    font-size: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.blog-post > a{
    text-decoration: underline;
    text-decoration-color: royalblue;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.head-transition{
    animation: 1s ease-out 0s 1 slideInFromRight;
}
.navbar{
    margin: auto;
    background-color: rgba(0,0,0, .5);
    display: grid;
    grid-template-columns: auto auto auto;
    height: 100px;
    position: relative;
    width: 100%;
}
.nav-selected{
background-color: rgb(0, 132, 255);
}
.nav-links{
    display: inline-block;
    margin-top: 35px;
}
.nav-links > a{
    margin-right: 5px;
    margin-left: 5px;
    font-size: 35px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-links > a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(0, 132, 255);
    background-color: rgb(0, 132, 255);
}
.social-container{
    width: 50%;
    margin-top: 35px;
    display: grid;
    grid-template-columns: auto auto auto;
}
.header{
    animation: 1s ease-out 0s 1 slideInFromRight;
    height: 1000px;
    background-image: linear-gradient(to top, 
    rgba(255, 255, 255),
    rgba(0,0,0,0)),
    url('assets/backgrounds/head-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header-boards{
    animation: 1s ease-out 0s 1 slideInFromRight;
    height: 1000px;
    background-image: linear-gradient(to top, 
    rgba(255, 255, 255),
    rgba(0,0,0,0)),
    url('assets/backgrounds/head-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header-container{
    margin-top: 35px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-text-container > h3{
    font-size: 60px;
    font-family: 'Yellowtail', cursive;
    color: white;
}
.header-text-container > h4{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 132, 255)
}
.header-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 25%;
    background-color: rgba(0,0,0,.5);
}
.nav-logo{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 15px;
}
.facebook-icon{
    height: 35px;
    width: 35px;
    background-image: url('assets/social/facebook.png');
    background-size: cover;
}
.insta-icon{
    height: 35px;
    width: 35px;
    background-image: url('assets/social/instagram-sketched.png');
    background-size: cover;
}
.twitter-icon{
    height: 35px;
    width: 35px;
    background-image: url('assets/social/twitter.png');
    background-size: cover;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid-12{
    justify-content: space-evenly;
    grid-template-columns: repeat(6, auto);
}
.grid-2{
    grid-template-columns: auto auto;
}
.shop-item{
    text-align: center;
    margin-top: 30px;
    width: 150px;
    height: 150px;
    border: none;
    box-shadow: 3px 5px 10px rgba(0,0,0,.5);
    background-color: white;
}
.shop-item:hover{
    box-shadow: 3px 5px 10px rgb(0, 132, 255);
}
.shop-item > img{
    width: 100px;
    height: 100px;
}
.shop-item > h3{
    font-family:'Montserrat', sans-serif;
    font-size: 15px;
}
.boards-shop-container{
    display: grid;
    width: 75%;
    height: 800px;
    background-color: white;
    box-shadow: 3px 5px 10px, rgba(0,0,0,.5);
}

.main-shop-container{
    display: grid;
    width: 75%;
    height: 600px;
    background-image: -webkit-linear-gradient(-45deg, 
    rgba(0, 210, 255) 0%,
    rgba(0, 210, 255) 25%,
    white 25%,
    white 85%,
    rgba(0, 210, 255) 85%,
    rgba(0, 210, 255) 90%,
    white 90%,
    white 91%,
    rgba(0, 210, 255) 91%,
    rgba(0, 210, 255) 98%,
    white 98%,
    white 99%,
    rgba(0, 210, 255) 99%);
    box-shadow: 3px  5px 10px rgba(0,0,0, .5);
}
.shop-image{
    display: grid;
    grid-template-columns: auto auto;
    width: 25%;
    margin-right: 150px;
}
.image-selector{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-left: 30px;
    height: 90%;
    width: 100px;
}
.image-select-item-1{
    width: 98px;
    height: 98px;
    background-image: url('assets/shop/1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid rgba(0,0,0,.5);
}
.image-select-item-2{
    width: 98px;
    height: 98px;
    background-image: url('assets/shop/2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid rgba(0,0,0,.5);
}
.image-select-item-3{
    width: 98px;
    height: 98px;
    background-image: url('assets/shop/3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid rgba(0,0,0,.5);
}
.image-select-item-4{
    width: 98px;
    height: 98px;
    background-image: url('assets/shop/toppng.com-surfboard-vector-wooden-2018-naish-hover-60-surf-foil-board-671x1188.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid rgb(0, 132, 255);
}
.shop-image > img{
    margin-left: 50px;
    margin-top: 15px;
    width: 300px;
}
.shop-desc{
    margin-top: 15px;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.checked{
    color: orange;
}
.desc-box{
    text-align: left;
}
.desc-box > span{
    color: black;
    margin: 15px;
}
.desc-box-selected{
    border-bottom: 5px solid rgb(0, 132, 255) ;
}
.desc-box > p{
    margin-top: 15px;
    margin-left: 15px;
}
.reviews{
    display: inline-block;
}
.shop-desc > h3{
    font-size: 35px;
}
.desc-box > span{
    font-size: 20px;
}
.desc-box > p{
    width: 400px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.shop-desc-price{
    text-align: center;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 25px;
}
.buy-now-button{
    color: white;
    height: 35px;
    width: 100px;
    font-size: 25px;
    background-color: rgb(0, 132, 255);
    border: none;
    border-radius: 5px 5px 5px 5px;
}
.about-us-section{
    height: 1000px;
    background-image: url('assets/backgrounds/vladimir-kudinov-RKiMg1bwsMY-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -300px;
}
.about-us-container{
    display: grid;
    grid-template-columns: 45% 55%;
    height: 100%;
}
.about-us-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: white;
    /*
    background-image: -webkit-linear-gradient(45deg,
    white 0%,
    white 90%,
    rgba(0,0,0,0) 90%);
    */
    color: black;
    margin-top: 200px;
}
.abu-left-text{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.abu-left-text > h3{
    font-size: 35px;
    text-align: center;
}
.abu-left-text > p{
    width: 250px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    word-wrap: break-word;
}
.abu-left-text > a{
    display: block;
    text-align: center;
}
.about-us-right{
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    margin-top: 600px;
}
.about-us-right > video{
    margin-left: 75px;
    margin-top: -150px;
    border: none;
}
.our-team-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.our-team{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
.our-team-box-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 35px;
    width: 400px;
    height: 500px;
    box-shadow: 3px 5px 10px rgba(0,0,0,.5);
}
.our-team-box-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 132, 255);
    margin-left: -15px;
    width: 400px;
    height: 500px;
    box-shadow: 3px 5px 10px rgba(0,0,0,.5);
}
.our-team-box-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 35px;
    margin-left: -15px;
    width: 400px;
    height: 500px;
    box-shadow: 3px 5px 10px rgba(0,0,0,.5);
}
.our-team-box-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 132, 255);
    margin-left: -15px;
    width: 400px;
    height: 500px;
    box-shadow: 3px 5px 10px rgba(0,0,0,.5);
}
.our-team-left{
    margin-top: 275px;
    margin-right: 100px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('assets/slider/left.png');
    background-size: cover;
    background-color: white;
    box-shadow: 3px 5px 10px rgba(0,0,0,.5);
    background-position: center;
    background-repeat: no-repeat;
}
.our-team-right{
    margin-top: 275px;
    margin-left: 100px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('assets/slider/right.png');
    background-size: cover;
    background-color: white;
    box-shadow: 3px 5px 10px rgba(0,0,0,.5);
    background-position: center;
    background-repeat: no-repeat;
}
.our-team-image-1{
    margin-top: 15px;
    width: 200px;
    height: 200px;
    background-image: url('assets/portrait/albert-dera-ILip77SbmOE-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.our-team-image-2{
    border: 2px solid white;
    margin-top: 15px;
    width: 200px;
    height: 200px;
    background-image: url('assets/portrait/jurica-koletic-7YVZYZeITc8-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.our-team-image-3{
    margin-top: 15px;
    width: 200px;
    height: 200px;
    background-image: url('assets/portrait/michael-dam-mEZ3PoFGs_k-unsplash\ \(1\).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.our-team-image-4{
    border: 2px solid white;
    margin-top: 15px;
    width: 200px;
    height: 200px;
    background-image: url('assets/portrait/stefan-stefancik-QXevDflbl8A-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.our-team-h3{
    color: rgb(0, 132, 255);
    font-size: 30px;
}
.our-team-h3-colored{
    font-size: 30px;
    color: white;
}
.our-team-p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.our-team-p-colored{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
}
.our-team-break{
    margin-top: 50px;
    width: 75px;
    height: 2px;
    background-image: url('assets/slider/minus.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.our-team-break-colored{
    margin-top: 50px;
    width: 75;
    height: 2px;
    background-image: url('assets/slider/minus-colored.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.location-icon{
    width: 10px;

}
.our-team-location{
    margin-top: 35px;
    display: grid;
    grid-template-columns: auto auto;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 132, 255);
}
.our-team-loc-colored{
    margin-top: -4px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
}
.our-team-loc{
    margin-top: -4px;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
}
.video{
    width: 480px;
}
.footer-class{
    margin-top: 800px;
    height: 175px;
    width: 100%;
    background-color: rgb(0, 132, 255);
    display: inline-block;
}
.footer-class-boards{
    margin-top: 150px;
    height: 175px;
    width: 100%;
    background-color: rgb(0, 132, 255);
    display: inline-block;
}
.footer-container{
    width: 100%;
    justify-content: space-evenly;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}
.footer-class > p{
    margin-top: 25px;
    color: white;
    font-size: 10px;
    text-align: center;
    font-family:'Montserrat', sans-serif
}
.footer-class-blogs > p{
    margin-top: 25px;
    color: white;
    font-size: 10px;
    text-align: center;
    font-family:'Montserrat', sans-serif
}
.footer-class-boards > p{
    margin-top: 25px;
    color: white;
    font-size: 10px;
    text-align: center;
    font-family:'Montserrat', sans-serif
}

.footer-column-1 > h3{
    color: white;
    font-size: 25px;
    text-align: center;
}
.footer-column-1 > a{
    text-align: center;
    display: block;
    color: white;
    font-size: 15px;
    font-family:'Montserrat', sans-serif;
}
.footer-column-2 > h3{
    color: white;
    font-size: 25px;
    text-align: center;
}
.footer-column-2 > a{
    text-align: center;
    display: block;
    color: white;
    font-size: 15px;
    font-family:'Montserrat', sans-serif;
}
.footer-column-3 > h3{
    color: white;
    font-size: 25px;
    text-align: center;
}
.footer-column-3 > p{
    text-align: center;
    color: white;
    font-size: 15px;
    font-family:'Montserrat', sans-serif;
}
@media only screen and (max-width: 768px) and (min-width: 415px){
    .header-boards{
        height: 1500px;
    }
    .nav-links > a{
        font-size: 20px;
    }
    .header-text-container{
        width: 100%;
    }
    .header-text-container > h3{
        font-size: 40px;
    }
    .main-shop-container{
        width: 100%;
    }
    .boards-shop-container{
        width: 100%;
    }
    .grid-12{
        grid-template-columns: repeat(4, auto);
    }
    .boards-shop-container{
        height: 1000px;
    }
    .shop-image{
        margin-right: 100px;
        width: 15%;
    }
    .footer-class-boards{
        margin-top: 500px;
    }
    .shop-image > img{
        width: 200px;
    }
    .image-select-item-1{
        width: 48px;
        height: 48px;
    }
    .image-select-item-2{
        width: 48px;
        height: 48px;
    }
    .image-select-item-3{
        width: 48px;
        height: 48px;
    }
    .image-select-item-4{
        width: 48px;
        height: 48px;
    }
    .image-selector{
        margin-top: 5px;
        margin-left: 0px;
    }
    .shop-desc{
        width: 75%;
    }
    .shop-desc > h3{
        font-size: 20px;
    }
    .desc-box > span{
        font-size: 15px;
    }
    .desc-box > p{
        font-size: 15px;
        width: 300px;
    }
    .about-us-section{
        background-position-y: 0;
        height: 600px;
    }
    .about-us-left{
        margin-top: 150px;
    }
    .about-us-right{
        margin-top: 450px;
    }
    .our-team-box-1{
        width: 200px;
        height: 300px;
    }
    .our-team-box-2{
        width: 200px;
        height: 300px;
    }
    .our-team-box-3{
        width: 200px;
        height: 300px;
    }
    .our-team-box-4{
        width: 200px;
        height: 300px;
    }
    .our-team-image-1{
        width: 100px;
        height: 100px;
    }
    .our-team-image-2{
        width: 100px;
        height: 100px;
    }
    .our-team-image-3{
        width: 100px;
        height: 100px;
    }
    .our-team-image-4{
        width: 100px;
        height: 100px;
    }
    .our-team-left{
        display: none;
    }
    .our-team-right{
        display: none;
    }
    .video{
        width: 320px;
    }
    .abu-left-text > h3{
        font-size: 25px;
    }

}
@media only screen and (max-width: 414px) and (min-width: 376px){

    .nav-logo{
        margin-top: 30px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .social-container{
        margin-right: 25px;
        margin-top: 15px;
        display: block;
        width: 100%;
    }
    .header-boards{
        height: 1500px;
        width: 100%;
    }
    .boards-shop-container{
        width: 100%;
        height: 1000px;
    }
    .grid-12{
        grid-template-columns: repeat(2, auto);
    }
    .footer-class-boards{
        margin-top: 1500px;
        height: 200px;
        width: 100%;
    }
    .facebook-icon{
        width: 15px;
        height: 15px;
    }
    .insta-icon{
        margin-top: 10px;
        width: 15px;
        height: 15px;
    }
    .twitter-icon{
        margin-top: 10px;
        width: 15px;
        height: 15px;
    }
    .nav-logo > img{
        width: 100px;
    }
    .nav-links > a{
        font-size: 15px;
    }
    .header-text-container{
        width: 100%;
    }
    .header-text-container > h3{
        font-size: 30px;
    }
    .header-text-container > h4{
        font-size: 15px;
    }
    .main-shop-container{
        width: 100%;
    }
    .shop-image{
        margin-top:50%;
        margin-right: 25px;
        width: 15%;
    }
    .shop-image > img{
        width: 100px;
        margin-left: 3px;
    }
    .image-select-item-1{
        width: 35px;
        height: 35px;
    }
    .image-select-item-2{
        width: 35px;
        height: 35px;
    }
    .image-select-item-3{
        width: 35px;
        height: 35px;
    }
    .image-select-item-4{
        width: 35px;
        height: 35px;
    }
    .image-selector{
        display: none;
        height: 200px;
        margin-top: 5px;
        margin-left: 0px;
    }
    .shop-desc{
        margin-left: 5px;
        width: 75%;
    }
    .main-shop-container{
        height: 450px;
    }
    .shop-desc > h3{
        font-size: 20px;
    }
    .desc-box > span{
        font-size: 15px;
    }
    .desc-box > p{
        font-size: 15px;
        width: 300px;
    }
    .about-us-section{
        background-position-y: 0;
        height: 600px;
    }
    .about-us-left{
        width: 100%;
    }
    .about-us-section{
        margin-top: -150px;
    }
    .about-us-container{
        grid-template-columns: auto;
    }
    .about-us-right{
        display: none;
        margin-top: 450px;
    }
    .our-team-box-1{
        display: none;
        width: 200px;
        height: 300px;
    }
    .our-team-box-2{
        width: 200px;
        height: 300px;
    }
    .our-team-box-3{
        width: 200px;
        height: 300px;
    }
    .our-team-box-4{
        display: none;
        width: 200px;
        height: 300px;
    }
    .our-team-image-1{
        width: 100px;
        height: 100px;
    }
    .our-team-image-2{
        width: 100px;
        height: 100px;
    }
    .our-team-image-3{
        width: 100px;
        height: 100px;
    }
    .our-team-image-4{
        width: 100px;
        height: 100px;
    }
    .our-team-left{
        display: none;
    }
    .our-team-right{
        display: none;
    }
    .video{
        width: 320px;
    }
    .abu-left-text > h3{
        font-size: 25px;
    }
    .footer-class{
        margin-top: 400px;
    }
    .footer-column-1 > a{
        font-size: 10px;

    }
    .footer-column-2 > a{
        font-size: 10px;

    }
    .footer-column-3 > p{
        font-size: 10px;

    }

}
@media only screen and (max-width: 375px) and (min-width: 361px){

    .nav-logo{
        margin-top: 30px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .social-container{
        margin-right: 25px;
        margin-top: 15px;
        display: block;
        width: 100%;
    }
    .header-boards{
        height: 1500px;
        width: 100%;
    }
    .boards-shop-container{
        width: 100%;
        height: 1000px;
    }
    .grid-12{
        grid-template-columns: repeat(2, auto);
    }
    .footer-class-boards{
        margin-top: 1500px;
        height: 200px;
        width: 100%;
    }
    .facebook-icon{
        width: 15px;
        height: 15px;
    }
    .insta-icon{
        margin-top: 10px;
        width: 15px;
        height: 15px;
    }
    .twitter-icon{
        margin-top: 10px;
        width: 15px;
        height: 15px;
    }
    .nav-logo > img{
        width: 100px;
    }
    .nav-links > a{
        font-size: 15px;
    }
    .header-text-container{
        width: 100%;
    }
    .header-text-container > h3{
        font-size: 30px;
    }
    .header-text-container > h4{
        font-size: 15px;
    }
    .main-shop-container{
        width: 100%;
    }
    .blog-months{
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        margin-top: 15px;
        text-align: center;
        color: white;
    }
    .blog-months > span:hover{
        text-decoration: underline;
        text-decoration-color: rgb(0, 132, 255);
    }
    .shop-image > ul{
        margin-left: 5px;
        text-decoration: none;
    }
    .shop-image{
        margin-top:50%;
        margin-right: 25px;
        width: 15%;
    }
    .shop-image > img{
        width: 100px;
        margin-left: 3px;
    }
    .image-select-item-1{
        width: 35px;
        height: 35px;
    }
    .image-select-item-2{
        width: 35px;
        height: 35px;
    }
    .image-select-item-3{
        width: 35px;
        height: 35px;
    }
    .image-select-item-4{
        width: 35px;
        height: 35px;
    }
    .image-selector{
        display: none;
        height: 200px;
        margin-top: 5px;
        margin-left: 0px;
    }
    .shop-desc{
        margin-left: 5px;
        width: 75%;
    }
    .main-shop-container{
        height: 450px;
    }
    .shop-desc > h3{
        font-size: 20px;
    }
    .desc-box > span{
        font-size: 12px;
    }
    .desc-box > p{
        font-size: 12px;
        width: 250px;
    }
    .about-us-section{
        background-position-y: 0;
        height: 600px;
    }
    .about-us-left{
        width: 100%;
    }
    .about-us-section{
        margin-top: -150px;
    }
    .about-us-container{
        grid-template-columns: auto;
    }
    .about-us-right{
        display: none;
        margin-top: 450px;
    }
    .our-team-box-1{
        display: none;
        width: 200px;
        height: 300px;
    }
    .our-team-box-2{
        width: 200px;
        height: 300px;
    }
    .our-team-box-3{
        width: 200px;
        height: 300px;
    }
    .our-team-box-4{
        display: none;
        width: 200px;
        height: 300px;
    }
    .our-team-image-1{
        width: 100px;
        height: 100px;
    }
    .our-team-image-2{
        width: 100px;
        height: 100px;
    }
    .our-team-image-3{
        width: 100px;
        height: 100px;
    }
    .our-team-image-4{
        width: 100px;
        height: 100px;
    }
    .our-team-left{
        display: none;
    }
    .our-team-right{
        display: none;
    }
    .video{
        width: 320px;
    }
    .abu-left-text > h3{
        font-size: 25px;
    }
    .footer-class{
        margin-top: 400px;
    }
    .footer-column-1 > a{
        font-size: 10px;

    }
    .footer-column-2 > a{
        font-size: 10px;

    }
    .footer-column-3 > p{
        font-size: 10px;

    }
}
@media only screen and (max-width: 360px){

    .nav-logo{
        margin-top: 30px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .social-container{
        margin-right: 25px;
        margin-top: 15px;
        display: block;
        width: 100%;
    }
    .header-boards{
        height: 1500px;
        width: 100%;
    }
    .boards-shop-container{
        width: 100%;
        height: 1000px;
    }
    .grid-12{
        grid-template-columns: repeat(2, auto);
    }
    .footer-class-boards{
        margin-top: 1500px;
        height: 200px;
        width: 100%;
    }
    .facebook-icon{
        width: 15px;
        height: 15px;
    }
    .insta-icon{
        margin-top: 10px;
        width: 15px;
        height: 15px;
    }
    .twitter-icon{
        margin-top: 10px;
        width: 15px;
        height: 15px;
    }
    .nav-logo > img{
        width: 100px;
    }
    .nav-links > a{
        font-size: 15px;
    }
    .header-text-container{
        width: 100%;
    }
    .header-text-container > h3{
        font-size: 30px;
    }
    .header-text-container > h4{
        font-size: 15px;
    }
    .main-shop-container{
        width: 100%;
    }
    .shop-image{
        margin-top:50%;
        margin-right: 25px;
        width: 15%;
    }
    .shop-image > img{
        width: 100px;
        margin-left: 3px;
    }
    .image-select-item-1{
        width: 35px;
        height: 35px;
    }
    .image-select-item-2{
        width: 35px;
        height: 35px;
    }
    .image-select-item-3{
        width: 35px;
        height: 35px;
    }
    .image-select-item-4{
        width: 35px;
        height: 35px;
    }
    .image-selector{
        display: none;
        height: 200px;
        margin-top: 5px;
        margin-left: 0px;
    }
    .shop-desc{
        margin-left: 5px;
        width: 75%;
    }
    .main-shop-container{
        height: 450px;
    }
    .shop-desc > h3{
        font-size: 20px;
    }
    .desc-box > span{
        font-size: 15px;
    }
    .desc-box > p{
        font-size: 15px;
        width: 300px;
    }
    .about-us-section{
        background-position-y: 0;
        height: 600px;
    }
    .about-us-left{
        width: 100%;
    }
    .about-us-section{
        margin-top: -150px;
    }
    .about-us-container{
        grid-template-columns: auto;
    }
    .about-us-right{
        display: none;
        margin-top: 450px;
    }
    .our-team-box-1{
        display: none;
        width: 200px;
        height: 300px;
    }
    .our-team-box-2{
        width: 200px;
        height: 300px;
    }
    .our-team-box-3{
        width: 200px;
        height: 300px;
    }
    .our-team-box-4{
        display: none;
        width: 200px;
        height: 300px;
    }
    .our-team-image-1{
        width: 100px;
        height: 100px;
    }
    .our-team-image-2{
        width: 100px;
        height: 100px;
    }
    .our-team-image-3{
        width: 100px;
        height: 100px;
    }
    .our-team-image-4{
        width: 100px;
        height: 100px;
    }
    .our-team-left{
        display: none;
    }
    .our-team-right{
        display: none;
    }
    .video{
        width: 320px;
    }
    .abu-left-text > h3{
        font-size: 25px;
    }
}